/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

:root {
  /* text */
  --color-text-primary: #1e1e2d;
  --color-text-secondary: #a2a2a7;
  --color-text-muted: #7e848d;
  --color-text-footer: #8b8b94;

  /* accent colors */
  --color-primary: #0066ff;
  --color-accent: #ff3f60;

  /* other */
  --color-notifications: #eb0a24;
  --color-currency: #9bb2d4;
  --color-error: #ff0000;

  /* bottun and line */
  --color-bg-light: #f4f4f4;
  --color-bg-dark: #1e1e2d;

  /* background */
  --color-bg: #ffffff;
  --color-footer-bg: #f4f4f4;

  /* radius */
  --radius-sm: 14px;
  --radius-md: 16px;
  --radius-lg: 18px;

  /* font */
  --font-main: "Inter", sans-serif;

  /* font size */
  --font-sm: 14px;
  --font-md: 18px;
  --font-lg: 26px;
}
