.transactionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  max-width: 100%;
  min-height: 42px;
  flex-direction: row;
  column-gap: 17px;
  margin-bottom: 22px;
}



/*У последнего ребёнка нет отступов во избежание пустоты*/
.transactionItem:last-child {
  margin-bottom: 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--color-footer-bg);
  flex-shrink: 0;
}
.category {
  color: var(--color-text-secondary);
  font-size: var(--font-xs);
}
.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.leftSide {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 17px;
  flex-grow: 1;
  min-width: 0;
}
.textWrap {
  display: flex;
  flex-direction: column;
  min-width: 0; 
}
.price{
  flex-shrink: 0;
  margin-left: auto;
}
.plusPrice {
  color: var(--color-primary);
  
}

.desktop {
  border-bottom: 1px solid var(--color-border-primary);
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.desktop:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
