.transactionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  flex-direction: row;
  column-gap: 17px;
  margin-bottom: 22px;
}
/*У последнего ребёнка нет отступов во избежание пустоты*/
.transactionItem:last-child {
  margin-bottom: 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--color-footer-bg);
}
.category {
  color: var(--color-text-secondary);
  font-size: var(--font-xs);
}

.leftSide {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 17px;
}

.plusPrice {
  color: var(--color-primary);
}
