.layout {
  min-height: 100vh;
}

.content {
  min-width: 0;
}

@media screen and (min-width: 720px) {
  .layout {
    display: grid;
    grid-template-columns: 250px minmax(0, 1fr);
  }

  .layout > :first-child {
    display: none;
  }

  .layout > :last-child {
    order: 1;
  }

  .content {
    order: 2;
  }
}
