.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: var(--font-md);
  font-weight: 500;
  color: var(--color-text-primary);
}


.card {
  background-color: var(--color-item-bg);
  border-radius: var(--radius-md);
  padding: 24px;
}

.amount {
  font-size: var(--font-lg);
  font-weight: 700;
  color: var(--color-text-primary);
  margin-bottom: 20px;
}

.labels {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: var(--font-xs);
  color: var(--color-text-muted);
}