.page {
  position: relative;
  min-height: 100vh;
  background: var(--color-bg);
  padding: 32px 0;
  width: 375px;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  position: relative;
  z-index: 1;
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.header {
  width: 335px;
  height: 42px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.iconButton {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-item-bg);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.spacer {
  width: 42px;
  height: 42px;
  border: none;
  background-color: var(--color-bg);
}