.container {
  min-height: 100vh;
  padding-top: 16px;
  background: var(--color-bg);
  min-width: 375px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 335px;
  height: 42px;
  margin: 0 auto 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.iconButton {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-item-bg);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
}

.icon {
  filter: var(--icon-filter);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.block {
  min-width: 335px;
  width: 100%;
  margin: auto;
  border-radius: 12px;
  padding: 10px 16px;
}

.sectionTitle {
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--color-text-secondary);
}

.row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 12px 0;
  text-decoration: none;
  color: var(--color-text-primary);
  border-bottom: 1px solid var(--color-bg-light);
}

.row[href]::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("@/shared/icons/go-through.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 8px;
}

.row:last-child {
  border-bottom: none;
}

.rowTitle {
  margin-right: auto;
  margin-left: 10px;
  font-weight: 700;
}

.value {
  margin-left: auto;
  margin-right: 10px;
  color: var(--color-text-secondary);
}

.helperText {
  font-size: 12px;
  margin-top: 8px;
  color: var(--color-text-secondary);
}

.switch {
  position: relative;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background: var(--color-text-secondary);
  border-radius: 999px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background: var(--color-primary);
}

.switch input:checked + .slider::before {
  transform: translateX(18px);
}

.desktop {
  padding: 20px;
}

.rowDesktop {
  border-top: 1px solid var(--color-br);
}
.rowDesktop:last-child {
  border-bottom: 1px solid var(--color-br);
}

.helperTextDesktop {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 8px;
}

.iconCircle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--color-item-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
