.page {
  position: relative;
  min-height: 100vh;
  background: var(--color-bg);
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 1440px;
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
