.container {
  min-height: 100vh;
  background: var(--color-bg);
  max-width: 375px;
  margin: 0 auto;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 251px;
  height: 42px;
  margin: 20px;
  justify-content: space-between;
}

.linkBack {
  display: flex;
  justify-content: center;
  border: none;
  background-color: var(--color-footer-bg);
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.arrow {
  align-self: center;
}

.signLabel {
  font-size: var(--font-md);
  color: var(--color-bg-dark);
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  width: 166px;
  white-space: nowrap;
}
