.page {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: calc(100vh - 66px);
  background-color: var(--color-bg);
  padding: 20px;
  width: 375px;
  margin: 0 auto;
  overflow-x: hidden;
}

.cardsList {
  display: flex;
  gap: 5px;
}

.recipientsSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  border: 1px solid #E7EAEE;
  border-radius: 14px;
  padding: 10px;
}

.recipientsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.recipientsTitle {
  font-size: 52px;
  font-weight: 600;
  color: var(--color-text-primary);
}

.addButton {
  text-transform: none;
  color: var(--color-primary);
}

.recipientsList {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 8px;
}

.recipientItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.recipientItem.selected {
  opacity: 1;
}

/*.recipientName {*/
/*  color: var(--color-text-primary);*/
/*}*/

.amountSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  border: 1px solid #E7EAEE;
  border-radius: 14px;
  padding: 30px 15px;
}

.amountHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amountLabel {
  color: var(--color-text-secondary);
}

.changeCurrency {
  color: var(--color-accent);
  font-size: 11px;
  border: none;
  background: none;
}

.changeCurrency:hover {
  cursor: pointer;
}

.amountCurrency {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-currency);
}

.amountInput {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text-primary);
  background: transparent;
  border: none;
  outline: none;
}

.amountInput:focus {
  border: none;
  outline: none;
}

.sendButton {
  width: 100%;
  background-color: var(--color-primary);
  color: white;
  padding: 14px;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  text-transform: none;
  font-size: 16px;
  font-weight: 600;
  margin-top: auto;
}

.sendButton:hover {
  background-color: #0055cc;
}
