.list {
  width: 315px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 19px;
  border: 1px solid var(--color-text-secondary);
  padding: 16px;
  border-radius: 12px;

  @media screen and (max-width: 768px){
    border: none;
    padding: 0;
  }
}

@media (min-width: 426px) {
  .list {
    width: 100%;
  }
}

.text {
  font-size: var(--font-md);
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.empty {
  width: 335px;
  align-content: center;
}

.button {
  border: none;
  background: none;
  color: var(--color-primary);
  cursor: pointer;
}
