.list {
  width: 315px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 19px;
}

@media (min-width: 426px) {
  .list {
    width: 100%;
  }
}

.text {
  font-size: var(--radius-lg);
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.empty {
  width: 335px;
  align-content: center;
}

.button {
  border: none;
  background: none;
  color: var(--color-primary);
  cursor: pointer;
}
