.ellipse {
  position: absolute;
  width: 270px;
  height: 361px;
  top: 80px;
  left: 195px;
  transform: rotate(-41deg);
  opacity: 0.2;
  background: linear-gradient(135deg, #0066ff, #0018f1);
  border-radius: 50%;
  z-index: 10;
  pointer-events: none;
}
 
@media (min-width: 1024px) {
  .round {
    width: 250px;
    height: 250px;
    top: 60px;
    z-index: 0;
  }
}