.ellipse {
  position: absolute;
  width: 270px;
  height: 361px;
  top: 156px;
  left: 195px;
  transform: rotate(-41deg);
  opacity: 0.2;
  background: linear-gradient(135deg, #0066FF, #0018F1);
  border-radius: 50%;
  z-index: 10;
  pointer-events: none;
}