
.sign {
    position: absolute;
    left: 35%;
    top: 5%;
    width: 377px;
    height: 812px;
    background: var(--color-bg);
    border: 1px solid black;
    padding-left: 20px;

}

.linkBack {
    display: flex;
    justify-content: center;
    background-color: var(--color-footer-bg);
    width: 42px;
    height: 42px;
    margin-top: 54px;
    border-radius: 50%;
    margin-bottom: 53px;
}

.arrow {
    align-self: center;

}

.signLabel {
    width: 123px;
    height: 34px;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 38px;
}

.SignUp__InputForm {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
}

.SignUp__InputForm_Password, .SignUp__InputForm_Email, .SignUp__InputForm_Phone, .SignUp__InputForm_FullName {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}


.SignUp__InputForm label {
    height: 16px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text-secondary);
}

.SignUp__InputForm input {
    width: 297px;
    height: 32px;
    border: none;
    border-bottom: 1px solid var(--color-text-secondary);
    outline: none;
}

.SignIn__button {
    margin-top: 40px;
    width: 335px;
    height: 56px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.InputForm_Password {
    background-image: url("@/shared/icons/lock.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 38px;
}

.InputForm_Email, .InputForm_FullName {
    background-image: url("@/shared/icons/mail.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 38px;
}

.InputForm_Phone {
    background-image: url("@/shared/icons/phone.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 38px;
}

.SignUp__InputForm_Password img {
    position: absolute;
    top: 35px;
    left: 315px;
    width: 22px;
    height: 22px
}

.SignUp__InputForm_Password {
    position: relative;
}